/*-----------------------------------*\
  #HOME
\*-----------------------------------*/

@import url('root.css');

/* Hero Section */
.hero {
  background: url("../images/hero-banner1.png") no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 90px;
  padding: var(--section-padding) 0;
  height: 100vh;
  max-height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.hero-subtitle {
  color: var(--white);
  font-family: var(--ff-oswald);
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  letter-spacing: 12px;
  text-shadow: 0 7px hsla(0, 0%, 0%, 0.4);
  margin-bottom: 15px;
  text-align: center;
}

.hero-title {
  margin-bottom: 10px;
  font-size: clamp(28px, 7vw, 50px);
  line-height: 1.1;
  text-transform: uppercase;
  word-wrap: break-word;
  white-space: normal;
  max-width: 100%;
  overflow-wrap: break-word;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hero .btn-primary ion-icon {
  font-size: 25px;
}

/* Tournament Section */
.tournament {
  padding: var(--section-padding) 0;
  color: var(--white);
  text-align: center;
}

.tournament-content {
  margin-bottom: 50px;
}

.tournament-subtitle {
  color: var(--orange);
  font-family: var(--ff-refault);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.tournament-title {
  margin-bottom: 20px;
  font-family: var(--ff-refault);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.tournament-text {
  color: var(--light-gray);
  font-size: var(--fs-7);
  line-height: 1.8;
  margin-bottom: 30px;
}

.tournament .btn-primary {
  width: max-content;
  margin-inline: auto;
}

.tournament-prize {
  margin-bottom: 50px;
}

.tournament-prize-title {
  font-size: var(--fs-3);
  margin-bottom: 20px;
}

.tournament-prize data {
  background: var(--orange);
  color: var(--raisin-black-1);
  font-family: var(--ff-oswald);
  font-size: var(--fs-4);
  padding: 8px 42px;
  border-radius: 50px;
}

.tournament-prize img {
  margin-inline: auto;
}

/* Tournament Winners Section */
.tournament-winners {
  background: rgba(255, 255, 255, 0.05);
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.tournament-winners:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.tournament-winners-title {
  font-size: var(--fs-3);
  margin-bottom: 25px;
}

.tournament-winners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.winner-card {
  text-align: center;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.winner-card:hover {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}

.winner-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  z-index: -1;
  transition: transform 0.3s ease-in-out;
}

.winner-card:hover::before {
  transform: scale(1.05);
}

.winner-card .card-banner {
  max-width: 90px;
  margin-inline: auto;
  margin-bottom: 15px;
}

.winner-card img {
  width: 100%;
}

.winner-card .btn-secondary {
  background: var(--orange);
  color: var(--raisin-black-1);
  font-family: var(--ff-oswald);
  font-size: var(--fs-10);
  text-transform: uppercase;
  padding: 8px 14px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.winner-card .btn-secondary:hover {
  background: #0F0F14;
  color: var(--white);
}

/* Games Section */
.games {
  padding: var(--section-padding) 0;
}

.games-list {
  display: grid;
  gap: 50px;
}

.games-card .card-banner {
  position: relative;
  background: url("../images/games-card-bg.png") no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  aspect-ratio: 2 / 1.7;
  display: grid;
  place-items: center;
  margin-bottom: 30px;
}

.games .card-banner a {
  width: 100%;
}

.games .card-banner img {
  width: 45%;
  margin-inline: auto;
}

.share,
.card-time-wrapper {
  position: absolute;
  color: var(--orange);
}

.share {
  top: 25%;
  right: 8%;
  font-size: 20px;
  border: 2px solid var(--onyx);
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transition: var(--transition-1);
}

.share:is(:hover, :focus) {
  border-color: var(--orange);
}

.card-time-wrapper {
  top: 2%;
  right: 5%;
  font-family: var(--ff-oswald);
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card-time-wrapper ion-icon {
  font-size: 16px;
  --ionicon-stroke-width: 50px;
}

.games .card-content {
  color: var(--white);
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.games-card :is(.card-title, .card-prize) {
  font-family: var(--ff-oswald);
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
}

.games-card .card-title {
  margin-bottom: 5px;
}

.games-card .card-subtitle {
  color: var(--light-gray);
  font-size: var(--fs-8);
}

.games .card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.games-card .btn {
  padding: 18px 20px;
}

.games-card .btn-primary {
  font-size: var(--fs-7);
  padding-block: 15px;
}

.games-card .btn-primary ion-icon {
  font-size: 20px;
  --ionicon-stroke-width: 80px;
}

.games-card .card-btn {
  --polygon-1: polygon(75% 0, 100% 25%, 100% 100%, 25% 100%, 0 75%, 0 0);
  background: var(--raisin-black-1);
  color: var(--orange);
}

.games-card .card-btn ion-icon {
  --ionicon-stroke-width: 50px;
}

.games-card .card-btn:is(:hover, :focus) {
  background: var(--orange);
  color: var(--white);
}

/* About Section */
.section-wrapper {
  background: url("../images/section-wrapper-bg.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.about {
  background: url("../images/about-img-shadow.png") no-repeat;
  background-size: 100%;
  background-position: center;
  padding: 120px 0 var(--section-padding);
}

.about-banner {
  margin-bottom: 40px;
}

.about-img {
  width: 100%;
}

.character {
  display: none;
}

.about-content {
  background: var(--raisin-black-1);
  color: var(--white);
  padding: 40px 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.2);
}

.about-subtitle {
  color: var(--orange);
  font-family: var(--ff-oswald);
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  margin-bottom: 15px;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
}

.about-title {
  font-family: var(--ff-oswald);
  font-size: var(--fs-2);
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.about-title strong {
  color: var(--orange);
}

.about-text,
.about-bottom-text {
  color: var(--light-gray);
  font-size: var(--fs-9);
  line-height: 1.8;
  letter-spacing: 0.5px;
}

.about-text {
  margin-bottom: 20px;
}

.about-bottom-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.about-bottom-text ion-icon {
  color: var(--orange);
  font-size: 25px;
  --ionicon-stroke-width: 45px;
}

/* Responsive Styles */
@media (min-width: 575px) {
  :root {
    --fs-1: 90px;
    --fs-2: 45px;
  }

  .container {
    max-width: 540px;
    margin-inline: auto;
  }

  .about-banner {
    position: relative;
    max-width: 410px;
    margin-inline: auto;
    z-index: 1;
  }

  .character-2 {
    display: block;
    position: absolute;
    top: 120px;
    left: 160px;
    max-width: 150px;
    z-index: -1;
  }

  .about-content {
    padding: 60px 40px;
  }

  .tournament-text {
    max-width: 500px;
    margin-inline: auto;
  }
}

@media (min-width: 768px) {
  :root {
    --fs-1: 115px;
    --fs-3: 36px;
  }

  .container {
    max-width: 700px;
  }

  .hero-subtitle {
    --fs-7: 25px;
    letter-spacing: 30px;
  }

  .about-banner {
    max-width: 430px;
  }

  .character {
    display: block;
    position: absolute;
    z-index: -1;
  }

  .character-1 {
    width: 130px;
    top: 110px;
    left: -120px;
  }

  .character-2 {
    left: 200px;
  }

  .character-3 {
    top: 0;
    right: -112px;
  }

  .games-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  :root {
    --section-padding: 100px;
  }

  .container {
    max-width: 1000px;
  }

  .about {
    padding-top: 200px;
  }

  .about-content {
    max-width: 700px;
    margin-inline: auto;
  }

  .tournament {
    --fs-2: 30px;
    --fs-3: 30px;
    --fs-6: 16px;
    text-align: left;
  }

  .tournament .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tournament-content,
  .tournament-prize {
    margin-bottom: 0;
  }

  .tournament-content {
    max-width: 310px;
  }

  .tournament .btn-primary {
    margin-inline: 0;
  }

  .tournament-prize,
  .Teams {
    text-align: center;
  }

  .Teams {
    padding: 45px 40px;
  }

  .games-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  :root {
    --fs-1: 150px;
  }

  .container {
    max-width: 1200px;
  }

  .hero {
    margin-top: 110px;
  }

  .about {
    background-size: 55%;
    background-position: 90% center;
  }

  .about .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding-right: 110px;
  }

  .about-banner {
    margin-inline: 0;
    margin-bottom: 0;
  }

  .character-2 {
    left: 155px;
    top: 70px;
  }

  .about-content {
    max-width: 600px;
    margin-inline: 0;
  }

  .games-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1400px;
  }

  .games-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .about {
    padding-right: 150px;
  }
} 